@page
@model DoAn.Pages.MHBanhang.IndexModel
@{
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Hoá đơn bán hàng</h1>
            <form method="post">
                <label for="find">Tìm kiếm</label>
                <input type="text" id="find" name="Keyword" value="@Model.Keyword" />
                <input type="submit" value="OK" />
            </form>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-outline-primary" href="./Create">Thêm hoá đơn bán hàng</a>
        </div>
    </div>

    <br />

    @if (Model.dsHoadonban.Count > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên hóa đơn</th>
                    <th>Mặt hàng bán</th>
                    <th>Số lượng</th>
                    <th>Ngày bán</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hoadonban in Model.dsHoadonban)
                {
                <tr>
                    <td width="10%">@hoadonban.Ma</td>
                    <td width="30%">@hoadonban.Ten</td>
                    <td width="20%">@Model.GetProductName(hoadonban.MaMathang)</td>
                    <td width="20%">@hoadonban.Soluong</td>
                    <td width="20%">@hoadonban.Ngayban.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a href="/MHBanhang/Edit?Ma=@hoadonban.Ma" class="btn btn-outline-warning mx-2">Sửa</a>
                            <a href="/MHBanhang/Delete?Ma=@hoadonban.Ma" class="btn btn-outline-danger mx-2">Xoá</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Không có hoá đơn bán hàng.</p>
    }

</div>

